{{define "content"}}
    <div class="container-fluid">
        <div class="jumbotron mt-5 mx-auto" style="width: 600px">
          <h1 class="display-4">Short.ly</h1>
            <p class="lead">We make urls small so you don't have to</p>
            <form class="form-inline" action="/data/shorten/" method=POST>
                <div class="input-group">    
                  <input type="text" name="url" class="form-control" placeholder="Enter a url">
                  <button type="submit" class="btn btn-primary">Shorten it!</button>
                </div>
            </form>
        </div>
    </div>
{{end}}